// COLOR
$color-white: #ffffff;
$color-grey-dark: #757575;
$color-grey-dark-2: #a1a1a1;
$color-background: #e0e0e0;
$color-blue: #4a90e2;
$color-blue-hover: rgba(74, 144, 226, 0.8);

$color-strength-green: #0a96a3;
$color-strength-brown: #d2691e;
$color-strength-orange: #f9c466;
$color-strength-red: #cd4146;

// FONT SIZES
$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size-big: 30px;

// LINE HEIGHTS
$font-heights-15: 15px;
$font-heights-17: 17px;
$font-heights-19: 19px;
$font-heights-30: 30px;
$font-heights-44: 44px;

//FONT FAMILIES
$font-family-sans: "Open Sans", Arial, sans-serif;
$font-family-apple: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto;

//MARGIN
$margin-bottom-small: 0.5rem;
$margin-bottom-medium: 2rem;
