@media (max-width: $vh-large) {
  .form__submit > input {
    margin-top: 0;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  .signup {
    width: 100%;
    height: 50%;
    &__box {
      width: 80%;
      height: 90%;
      padding: 20px;
      &-text {
        display: block;
      }
    }
    &__footer {
      margin-top: 10px;
    }
  }
  .login {
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
  }
}

@media (max-width: $vh-small) {
  .signup {
    &__box {
      width: 90%;
      height: 80%;
      padding: 10px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
  .form {
    &__input {
      margin-bottom: 10px;
    }
  }
  .login {
    &__box {
      width: 90%;
    }
  }
}

@media (max-width: $vh-smallest) {
  .signup {
    &__box {
      width: 90%;
      height: 90%;
    }
    &__footer {
      display: none;
    }
  }
}

@media(min-width: $vh-largest){
  .form__submit input[type="submit"]{
    margin-top: 40px;
  }
}